# .NET Core
bin/
obj/

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# NuGet
packages/
*.nupkg
# The packages folder can be ignored because of PackageReference
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/packages/repositories.config
*.nuget.props
*.nuget.targets

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NUNIT
*.VisualState.xml
TestResult.xml

# Build Results of an ATL Project
[Dd]ebugPS/
[Rr]eleasePS/
dlldata.c

# BenchmarkDotNet Artifacts
BenchmarkDotNet.Artifacts/

# .NET Core Snoop
Snoop/

# .NET Core Test Explorer
TestResults/

# .DS_Store (macOS)
.AppleDouble
.DS_Store

# Visual Studio Code
.vscode/

# Rider
.idea/
*.sln.iml

# Resharper
_ReSharper*/
*.resharper
*.DotSettings.user

# TeamCity
_TeamCity*

# DotCover
*.dotCover

# AxoCover
.axoCover/*
!.axoCover/settings.json

# Coverlet
coverage*/
*.opencover.xml
*.coverage
*.coverlet
*.csproj.nuget.g.props
*.csproj.nuget.g.targets

# OpenCover
OpenCover/
*.opencover*/

# ReportGenerator
Reports/

# GitVersion
.gitversion

# Windows Azure Build Output
csx/
*.build.csdef

# Windows Store app package directory
AppPackages/

# Others
sql/
*.Cache
ClientBin/
[Ss]tyle[Cc]op.*
~$*
*~
*.dbmdl
*.dbproj.schemaview
*.pfx
*.publishsettings
node_modules/
orleans.codegen.cs

# Ignore appsettings.* files
appsettings.*